* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.options-cont {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: #dff9fb;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    display: block;
}

.tools-cont {
    display: flex;
    height: 5rem;
    width: 60vw;
    background-color: #dff9fb;
    justify-content: space-around;
    position: absolute;
    top: 1rem;
    left: 12rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tools-cont > * {
    display: block;
    width: 3rem;
}

.pencil-tool-cont {
    height: 5rem;
    width: 8rem;
    position: absolute;
    top: 7rem;
    left: 12rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #dff9fb;
    border-radius: 1rem;
    display: none;
}

.pencil-width-cont {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-cont input {
    width: 80%;
}

.pencil-color-cont {
    height: calc(100%-2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pencil-color {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.black {
    background-color: black;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.eraser-tool-cont {
    height: 2rem;
    width: 8rem;
    position: absolute;
    top: 7rem;
    left: 22rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #dff9fb;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.eraser-tool-cont input {
    width: 80%;
}

.scale-tools {
    animation-name: scale-tools;
    animation-duration: 1s;
}

@keyframes scale-tools {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.sticky-cont {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 15rem;
    left: 10rem;
}

.header-cont {
    height: 2rem;
    background-color: #dff9fb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.note-cont {
    height: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-cont > * {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.minimize {
 background-color: #badc58;
}

.remove {
    background-color: #eb4d4b;
}

textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

.img {
    height: 100%;
    width: 100%;
}